@use "src/App";

.container {
  display: flex;
  margin-bottom: 30px;
}

.button {
  width: 41px;
  height: 41px;
  border: 1px solid App.$global-black;
  border-right: none;
  background: App.$global-white;

  &:hover {
    transition: .3s ease-in-out;
    background: App.$global-grey;
  }

  &_active {
    background-color: App.$global-black;
    color: App.$global-white;
  }

  &_dark {
    background-color: App.$global-black;
    border-color: App.$global-white;
    color: App.$global-white;

    &:hover {
      background: App.$global-grey-opacity;
    }
  }
}

.button_active.button_dark {
  background-color: App.$global-white;
  color: App.$global-black;
}

