@use "./../../App";

.input {
  width: 95px;
  height: 45px;
  border-radius: 8px;
  background: App.$global-grey;
  padding-left: 10px;

  &_dark {
      background-color: App.$global-white;
      color: App.$global-black;
  }
}