@use "./../App";
@use "src/Cards/Cards.module";
@forward "./../Cards/Cards.module";

 .container {
  width: 265px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  border: 1px solid App.$global-black;
  border-radius: 8px;
  background: App.$global-white;

  @include Cards.font($font-size: 13px, $font-weight: 400);
  line-height: normal;

  padding-left: 15px;
  padding-right: 18px;
  cursor: default;

  &_open {
    border-radius: 8px 8px 0 0;
  }

  &_dark {
    background-color: App.$global-black;
    color: App.$global-white;
    border-color: App.$global-white;
  }
}


//.container__buttons {
//  align-items: center;
//  justify-content: space-between;
//  display: flex;
//  width: 25px;
//  z-index: 5;
//}
//
//.clear_btn__hide {
//  visibility: hidden;
//}
//
//.container__arrow {
//  //background: App.$global-white;
//  width: 10px;
//  height: 6px;
//  cursor: pointer;
//
//  &_img {
//    width: 10px;
//    height: 6px;
//
//    transition: .3s ease-in-out;
//  }
//
//  &_img__open {
//    rotate: 180deg;
//    transition: .3s ease-in-out;
//  }
//}


.options {
  width: calc(100% + 2px);
  max-height: 300px;
  display: none;
  position: absolute;

  list-style: none;
  overflow-y: auto;
  z-index: 2;

  background-color: App.$global-white;
  border-radius: 0 0 8px 8px;
  border: 1px solid App.$global-black;
  border-top: 1px solid rgba(App.$global-black, 0.30);

  top: calc(100%);
  left: -1px;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;

  &_open {
    display: block;
  }

  &_dark {
    border: 1px solid App.$global-white;
    background-color: App.$global-black;

  }

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background: #7B7B7B;
    border-radius: 10px;
  }
}


.option {
  align-items: center;
  justify-content: center;
  color: App.$global-black;
  @include Cards.font($font-size: 16px, $font-weight: 500);
  line-height: 20px;
  padding: 10px 22px;
  cursor: pointer;

  &:hover {
    background-color: App.$global-black;
    color: App.$global-white;
    transition: .6s ease-in-out;
  }

  &_dark {
    color: App.$global-white;
    background-color: App.$global-black;

    &:hover {
      background-color: App.$global-white;
      color: App.$global-black;
      transition: .6s ease-in-out;
    }
  }
}
