@use "./../App";
@use "src/Cards/Cards.module";
@forward "./../Cards/Cards.module";
@use "src/Filters/Filters.module";
@forward "./../Filters/Filters.module";

.container {
  @include Filters.filter;

  padding-right: 18px;
  position: relative;

  &_open {
    border-radius: 8px 8px 0 0;
  }

  &_dark {
    background-color: App.$global-black;
    color: App.$global-white;
    border-color: App.$global-white;
  }
}

.options {
  width: calc(100% + 2px);
  max-height: 300px;
  display: none;
  position: absolute;

  list-style: none;
  overflow-y: auto;
  z-index: 2;

  background-color: App.$global-white;
  border-radius: 0 0 8px 8px;
  border: 1px solid App.$global-black;
  border-top: 1px solid rgba(App.$global-black, 0.30);

  top: calc(100%);
  left: -1px;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;

  &_open {
    display: block;
  }

  &_dark {
    border: 1px solid App.$global-white;
    background-color: App.$global-black;

  }

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background: #7B7B7B;
    border-radius: 10px;
  }
}


.option {
  align-items: center;
  justify-content: center;
  color: App.$global-black;
  @include Cards.font($font-size: 16px, $font-weight: 500);
  line-height: 20px;
  padding: 10px 22px;
  cursor: pointer;

  &:hover {
    background-color: App.$global-black;
    color: App.$global-white;
    transition: .6s ease-in-out;
  }

  &_dark {
    color: App.$global-white;
    background-color: App.$global-black;

    &:hover {
      background-color: App.$global-white;
      color: App.$global-black;
      transition: .6s ease-in-out;
    }
  }
}


@include Filters.container-screen-tab-1150;
@include Filters.container-screen-tab-970;
@include Filters.container-screen-tab-720;
@include Filters.container-screen-mobile;
