@use "./../App";
@use "src/Cards/Cards.module";
@forward "./../Cards/Cards.module";
@use "src/Filters/Filters.module";
@forward "./../Filters/Filters.module";

.container {
  @include Filters.filter;
  position: relative;

  &_open {
    border-radius: 8px 8px 0 0;
  }

  &_dark {
    background-color: App.$global-black;
    color: App.$global-white;
    border-color: App.$global-white;
  }
}

.options {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(100% + 2px);
  top: calc(100%);
  height: 105px;
  overflow-y: auto;
  left: -1px;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  border: 1px solid #000;
  border-top: 0 transparent;
  flex-direction: column;

  &_dark {
    background-color: App.$global-black;
    color: App.$global-white;
    border-color: App.$global-white;
    border-top: 1px solid App.$global-white;

    .options__text {
      color: App.$global-white;
    }

    .error_open {
      color: App.$global-red;
    }

    .line {
      background-color: App.$global-white;
    }
  }

  &_open {
    display: flex;
  }

  &__text {
    font-size: 10px;
    color: App.$global-black;
    display: flex;
    margin-bottom: 10px;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.line {
  width: 12px;
  height: 1px;
  background-color: App.$global-black;
  margin: 0 10px;
}

.error {
  font-size: 12px;
  color: App.$global-red;
  display: none;
  margin-top: 5px;

  &_open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@include Filters.container-screen-tab-1150;
@include Filters.container-screen-tab-970;
@include Filters.container-screen-tab-720;
@include Filters.container-screen-mobile;

@media screen and (max-width: App.$screen-tab-1150) {
  .inputs {
    flex-direction: column;
    gap: 15px;
  }

  .options {
    height: 200px;
  }

  .error {
    padding: 5px 5px 0 5px;
    text-align: center;
  }
}
