@use "src/App";
@use "src/Cards/Cards.module";
@forward "./../Cards/Cards.module";

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

@mixin filter {
  width: 265px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  padding-left: 15px;

  border-radius: 8px;
  border: 1px solid App.$global-black;
  background: App.$global-white;

  @include Cards.font($font-size: 13px, $font-weight: 400);
  line-height: normal;
}

@media screen and (max-width: App.$screen-tab-1150) {
  .filters {
    max-width: 940px;
  }
}

@media screen and (max-width: App.$screen-tab-970) {
  .filters {
    //display: grid;
    //grid-template-columns: 1fr 1fr;

    //justify-items: center;
    //margin-bottom: 45px;
    //max-width: 1800px;
  }

  .filter {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: App.$screen-tab-720) {
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 15px;
  }

  .filter {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: App.$screen-mobile) {
  .filters {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    margin-bottom: 45px;
    max-width: 280px;
  }

  .filter {
    margin-bottom: 15px;
  }
}

@mixin container-screen-tab-1150 {
  @media screen and (max-width: App.$screen-tab-1150) {
    .container {
      width: 220px;
    }
  }
}

@mixin container-screen-tab-970 {
  @media screen and (max-width: App.$screen-tab-970) {
    .container {
      width: 165px;
    }
  }
}

@mixin container-screen-tab-720 {
  @media screen and (max-width: App.$screen-tab-720) {
    .container {
      width: 260px;
    }
  }
}

@mixin container-screen-mobile {
  @media screen and (max-width: App.$screen-mobile) {
    .container {
      width: 280px;
    }
  }
}
