@use "src/App";
@use "src/Cards/Cards.module";
@forward "./../Cards/Cards.module";

@use "src/Filters/Filters.module";
@forward "./../Filters/Filters.module";

// filter {
//  box-sizing: border-box;
//  width: 265px;
//  height: 45px;
//  border-radius: 8px;
//  border: 1px solid #000;
//  background: App.$global-white;
//  font-family: Roboto, serif;
//  font-size: 13px;
//  font-style: normal;
//  font-weight: 400;
//  line-height: normal;
//  align-items: center;
//  padding-left: 15px;
//  display: flex;
//  justify-content: space-between;
//  padding-right: 18px;
//}

.container {
  //width: 265px;
  //height: 45px;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  //box-sizing: border-box;
  //
  //padding-left: 15px;
  //padding-right: 18px;
  //border-radius: 8px;
  //border: 1px solid App.$global-black;
  //background: App.$global-white;
  //
  //@include Cards.font($font-size: 13px, $font-weight: 400);
  //line-height: normal;
  @include Filters.filter;
  padding-right: 15px;

  &::placeholder {
    color: App.$global-black;
  }

  &_dark {
    background-color: App.$global-black;
    color: App.$global-white;
    border-color: App.$global-white;
  }

  &_dark::placeholder {
    color: App.$global-white;
  }
}

@include Filters.container-screen-tab-1150;
@include Filters.container-screen-tab-970;
@include Filters.container-screen-tab-720;
@include Filters.container-screen-mobile;



//.filter_button {
//  //width: 20px;
//  //height: 20px;
//  cursor: pointer;
//  //background: transparent;
//  background: pink;
//  border: none;
//  align-items: center;
//  justify-content: center;
//}
//
//.filter_img {
//  width: 10px;
//  height: 10px;
//  z-index: 10;
//}
//
//.filter_button_open {
//  width: 265px;
//  height: 130px;
//  justify-content: center;
//  align-items: center;
//  align-self: center;
//  //width: inherit;
//  top: 45px;
//  border: 1px solid black;
//  padding: 20px 22px;
//  box-sizing: border-box;
//  border-radius: 0 0 8px 8px;
//  background: white;
//  z-index: 1;
//  position: absolute;
//}
//
//option {
//  color: #000;
//  font-feature-settings: 'clig' off, 'liga' off;
//  font-family: Roboto;
//  font-size: 16px;
//  font-style: normal;
//  font-weight: 500;
//  line-height: 20px; /* 125% */
//}
//
//select option {
//  padding: 10px;
//  font-size: 16px;
//  background-color: #fff;
//}
//
//.select_opt {
//
//  border-radius: 8px 8px 0 0 !important;
//  position: relative;
//  cursor: pointer;
//  min-width: 150px;
//  max-width: 280px;
//  width: 100%;
//  padding: 14px;
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: space-between;
//  margin-bottom: 15px;
//  margin-left: 10px;
//  margin-right: 10px;
//  flex-wrap: wrap;
//  transition: all 0.2s ease-in-out;
//}
//
//
//
//
//.select {
//  margin: 0 auto;
//  position: relative;
//  width: 250px;
//}
//.select.is-active .select__body {
//  display: block;}
//
//.select__header {
//  border: 1px solid #ccc;
//  cursor: pointer;
//  display: flex;
//  justify-content: space-between;
//}
//.select__current {
//  font-size: 18px;
//  line-height: 24px;
//  padding: 8px;
//}
//.select__icon {
//  align-items: center;
//  display: flex;
//  flex-shrink: 0;
//  justify-content: center;
//  height: 40px;
//  margin-left: auto;
//  text-align: center;
//  width: 40px;
//}
//
//.select__body {
//  border: 1px solid #cccccc;
//  border-top: 0;
//  display: none;
//  left: 0;
//  position: absolute;
//  right: 0;
//  top: 100%;
//}
//.select__item {
//  cursor: pointer;
//  font-size: 16px;
//  line-height: 24px;
//  padding: 8px;
//}
