@use "src/App";
@use "src/Cards/Cards.module";
@forward "./../Cards/Cards.module";
@use "src/Filters/Filters.module";
@forward "./../Filters/Filters.module";

.container {
  @include Filters.filter;
  padding-right: 15px;

  &::placeholder {
    color: App.$global-black;
  }

  &_dark {
    background-color: App.$global-black;
    color: App.$global-white;
    border-color: App.$global-white;
  }

  &_dark::placeholder {
    color: App.$global-white;
  }
}

@include Filters.container-screen-tab-1150;
@include Filters.container-screen-tab-970;
@include Filters.container-screen-tab-720;
@include Filters.container-screen-mobile;
