@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$global-white: #ffffff;
$global-black: #000000;
$global-font: Roboto, serif;
$global-font-style: normal;

.App {
    /*display: grid;*/
    margin: 0 auto;
    /*align-items: center;*/
    width: 1120px;
}



body {
    background-color: $global-white;
}

.dark {
        background-color: $global-black;
}