@use "src/App";

@mixin font($font-size: 50px, $font-weight: 700) {
  font-size: $font-size;
  font-family: App.$global-font;
  font-style: App.$global-font-style;
  font-weight: $font-weight;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 40px;

  &__results {
    grid-column: span 3;
    align-self: center;
    justify-self: center;

    @include font;
  }

  &__results_dark {
    color: App.$global-white;
  }
}

img {
  width: 360px;
  height: 275px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: App.$screen-tab-1150) {
  .card {
    width: 300px;
    height: 230px;
  }
}

@media screen and (max-width: App.$screen-tab-970) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: 340px;
    height: 249px;
  }
}

@media screen and (max-width: App.$screen-tab-720) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    width: 360px;
  }
}

@media screen and (max-width: App.$screen-mobile) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    width: 280px;
    height: 205px;
  }
}
